<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WhatsApp Reader</title>
    <meta name="description" content="WhatsApp Reader">
    <meta name="author" content="twibster">

    <meta property="og:title" content="WhatsApp Reader">
    <meta property="og:type" content="website">
    <meta property="og:description" content="WhatsApp Reader">
    <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='main.css')}}">

</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>