body{
  background-color: #131c21;
  font-family: "Segoe UI";
  overflow:hidden ;
  padding:0px;
  margin:0px;
}
.outer-home{
  text-align: center;
}
.file-prompt{
  border-radius:4px;
  background-color: #2f3437;
  display: inline-block;
  margin-top:20%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#txt-file{
  display:none;
  opacity:0;
  height:100%;
  width:100%;
  cursor:pointer;
}
.txt-label{
  color:#00af9c;
  display: table-cell;
  text-align: center;
  vertical-align:middle;
}
.submit{
  border-radius:3px;
  background-color:#00af9c;;
  border:none;
  color:#black;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  transition:0.4s;
}
.submit:hover{
  background-color:#00c3ae;
}
.row {
  display: flex;
  height:100%;
  width:100%;
}
.convos-col{
  flex: 30%;
  border-right: 0.5pt solid #394045;
  transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  
}
.convo-col{
  background-image: url("images/dark-background.png");
  flex: 70%;
  box-shadow: inset 0 0 0 1000px rgba(9.3,13.74,16.7,0.94);
  transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.msg-div{
  width: 100%;
  overflow: auto;
  margin-bottom:2px;
  font-size:14;
  word-break:break-word;
}
.encrypt-msg{
  background-color: #20272b;
  color: #face48;
  display: inline-block;
  padding:8px;
  border-radius:6px;
  font-size:small;
  margin-bottom:9px;
}
.sticky-msg{
  position: -webkit-sticky;
  position: sticky;
  top: 70;
}
.date-msg{
  background-color: #1e2a30;
  color: #dedee0;
  display: inline-block;
  padding:8px;
  border-radius:6px;
  font-size:small;
  margin-bottom:9px;
  margin-top:9px;
}
.sender{
  float:right;
  margin-right:7px;
  background-color: #056162; 
  padding: 8px;
  padding-bottom:3; 
  border-radius:6px; 
  color: #dedee0;
  min-width:50px;
  max-width:70%;
}
.reciever{
  margin-left:7px;
  float:left;
  background-color: #262d31; 
  padding: 8px;
  padding-bottom:3; 
  border-radius:6px; 
  color:#dedee0;
  min-width:50px;
  max-width:70%;
}
.msg{
  display: block;
  
}
.right-align{
  text-align:right;
  direction: rtl;
}
.msg-sender{
  display: block;
  text-align:left;
  font-weight:500;
}
.date{
  color: #b1b5aa;
  font-size:11;
  display:block;
  margin-top:5px;
  text-align:right;
}
.header, .header-convo{
  background-color: #323739;
  display:flex;;
  height:60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
}
.reciever-img{
  margin-left: 15px;
}
.reciever-name{
  color:#dedee0;
  font-weight:bolder;
  margin-left:15px;
}
.dropdown{
  position: relative;
  display: inline-block;
  margin-top:8px;
  margin-right:8px;
  margin-left:auto;
  color:#dedee0;
  padding:7px;
  transition:0.4s;
}
.three-dot{
  color:#b1b3b5;
  cursor:pointer;
  border-radius:50px;
  background-color:transparent;
  border:none;
  transition:0.4s;
  height:34;
}
.three-dot:focus{
  background-color:#293134;
}
 .dropdown-content{
  height:0;
  opacity:0;
  position: absolute;
  right:0;
  border-radius:4px;
  margin-top:10px;
  background-color: #323739;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 43%);
  z-index: 1;
  overflow:hidden;
}
.dropdown-content button{
  background-color: transparent;
  color:#dedee0;
  height:50px;
  width:100%;
  font-size:14px;
  text-align:left;
  padding-left:18px;
  transition:0.2s;
}
.dropdown-content button:hover{
  background-color: #20272b;
  cursor: pointer;
}
.convos-body{
  margin-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 65;
}
.search-card{
  border-bottom: 0.5pt solid #394045;
  text-align:center;
  margin-top:-6px;
  overflow: auto;
}
.search-box{
  background-color: #323739;
  color:grey;
  width:90%;
  border-radius: 20px;
  margin-bottom:5px;
  display:inline-block;
  align-items:center;
  padding:4px;
}
.search-icon{
  float:left;
  margin-right:10px;
  margin-left:5px;
}
.search-text{
  background-color: #323739;
  margin-top:3px;
  color:grey;
  border: none;
  width:80%;
  float:left;
  transition:0.3s;
}
.search-text:focus{
  outline: none;
  color:#dedee0;
}
.convos-cards{
  overflow:auto;
  max-height:85vh;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #323739; 
}
.convo-card{
  display:flex;
  padding:5px;
  padding-left:1px;
  cursor:pointer;
  transition:0.3s;
}
.convo-card:hover{
  background-color:#2d3134 !important;
}
.convo-img{
  padding:7px;
  padding-right:10;
}
.col-img{
  flex:20%;
}
.col-text{
  flex:70%;
}
.convo-card-title{
  color: #dedee0;
  display:block;
}
.convo-card-text{
  color: #9fa2a5;
  font-size:14;
}
.text-time-container{
  margin-top:9px;
  margin-bottom:-5px;
  flex:90%;
  display:flex;
  border-bottom: 0.5pt solid #394045;
}
.col-time{
  flex:10%;
  font-size:12;
  color: #9fa2a5;
}
.add-card{
  height:60px;
  margin-bottom:90px;
}
.add-btn{
  width:100%;
  height:100%;
  background-color:transparent;
  border:none;
  color:#9fa2a5;
  transition:0.3s;
}
.add-btn:hover{
  background-color:#2d3134;
  color:#dedee0;
  cursor: pointer;
}
.convo-body{
  margin-bottom:4px;
  overflow:overlay;
}
.center{
  text-align: center;
}
.space{
  margin-top: 10px;
}
/*add chat modal*/
.add-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  top: -100%;
  opacity: 0;
  transition: top 0.4s, opacity 0.4s;
}
.show{
    top: 0;
    opacity: 1;
}
/* Modal Content/Box */
.add-modal-content {
  background-color: #2f3437;
  color: #dedee0;
  border-radius:10px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a:link{
  color:#68bbe4;
  text-decoration:none;
}
a:visited{
  color:#68bbe4;
  text-decoration:none;
}
a:hover{
  color:#68bbe4;
  text-decoration:underline;
}
.show-drop{
  height:auto;
  opacity: 1;
}
.chatters{
  display: inline-block;
  justify-content:center;
  margin-left:21px;
}
.chatter{
  float:left;
  min-width:200px;
}
.pov-submit{
  float:right;
  background-color: ;
  border: none;
  height: 70%;
  background-color: #0c897c;
  color:white;
  border-radius:4px;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  transition:0.2s;
  margin-top:20px;
}
.pov-submit:hover{
  background-color:#056162;
}
.pov-footer{
  height:50px;
  display:flex;
  justify-content:center;
}
.up-row{
  z-index:0;
  position:relative;
  background-color:#00bfa5;
  color:white;
  height:30%;
  width:100%;
  display:table;
}
.logo-container{
  margin:auto;
  margin-top:14px;
}
.logo-img{
  width:24;
  height:24;
  margin-bottom:-12px;
}
.down-row{
  position:relative;
  margin:auto;
  display:table;
  z-index:1;
  height:80%;
  background-color:#2f3437;
  width:70%;
  margin-top:-120;
  margin-bottom:60px;
  border-radius:4px;
  overflow:overlay;
  box-shadow: 0px 8px 16px 0px #00c3ae1f;
}

.info-file-container{
  padding:20px;
}
.info{
  color:white;
  float:left
  height:100%;
  text-align:left;
  border-bottom:1pt solid #394045;
}
.info-title{
  font-size:28px;
  margin-top:2px;
  margin-bottom:-2px;
}
.info-text{
  font-size:120%;
  margin-bottom:-12px;
}
.file{
  margin:auto;
  width:70%;
  display:table;
  height:50px;
  transition:0.4s;
  background-color: transparent;
  cursor:pointer;
  border-radius:5px;
  border: 0.01em solid grey;
}
.file:hover{
  background-color:#454a4c;
}
.file-submit{
  margin-top:10px;
  margin-bottom:10px;
}
.file-msg{
 padding:1px;
 border-radius:4px;
 transition:0.4s; 
}
.error{
  color: #D8000C;
  background-color: #FFD2D2;
}
.success{
  color: #4F8A10;
  background-color: #DFF2BF;
}
.menu-img{
  margin-bottom:-6px;
}
.align-btn{
   border-top: 0.01em solid #80808061;
   border-left:none;
   border-right:none;
   border-bottom:none;
}
.no-border{
  border:none
}
.italic{
  font-style:italic;
  color:#878585;
}
.lds-dual-ring {
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid grey;
  border-color: grey transparent grey transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.side-hide-btn{
  opacity:0;
  position:absolute;
  background-color:transparent;
  border:none;
  margin-left:auto;
  margin-right:20px;
  transition:0.4s;
  border-radius:5px;
  background-color:#262d30c2;
}
.side-icon{
  fill:white;
  margin-top:4px;
  margin-right:-9px;
  margin-bottom:-5px;
}
.side-show-btn{
  opacity:0;
  position:absolute;
  background-color:transparent;
  border:none;
  margin-left:10px;
  margin-right:-10px;
  transition:0.4s;
  border-radius:5px;
}
.side-show-btn:hover, .side-hide-btn:hover{
  cursor:pointer;
  color:grey;
}
@media screen and (max-width: 480px) {
  .row{
    display:flex;
  }
  .convos-col{
    flex:none;
    width:0%;
    height:0%;
  }
  .side-show-btn ,.side-hide-btn{
    opacity:1;
    position:relative;
  }
  .down-row{
    width:95%;
  }
}
.visible{
  width:100%;
  height:100%;
}
.hide-body{
  width:0;
}
.hide-header{
  display:none;
}